@import 'tailwindcss';
@import '@nuxt/ui';

@import './dashboard-creator.css';

/* Colors */

/* primary: purple */
/* neutral: slate */
/* secondary: stone */

@theme {
  --color-primary: theme('colors.purple.400');
  --color-secondary: theme('colors.stone.600');
}

.dark {
  --color-primary: theme('colors.purple.700');
  --color-secondary: theme('colors.stone.400');
}

@layer components {
  .glass-card {
    @apply bg-black/5 dark:bg-white/5
            rounded-xl
            backdrop-blur-md
            border border-black/10 dark:border-white/10
            shadow-inner shadow-black/5 dark:shadow-white/10;
  }

  .glass-card-purple {
    @apply bg-primary/5
            rounded-xl
            backdrop-blur-md
            border border-primary/20
            shadow-inner shadow-primary/60;
  }
}
